#footer {
  background: $nav-background;
  h6 {
    color: $grey-heading;
    font-size: 1rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-family: serif;
    font-weight: 100;
    margin-left: 41.5rem;

    span {
      color: $pinkish;
    }
  }
}
.social {
  padding-top: 1.5rem;
  margin-left: 36rem;
  padding-bottom: 1rem;
}
.social-icons {
  height: 4rem;
  width: 4rem;
}
#up {
  height: 3rem;
  width: 4rem;
  margin-left: 44.5rem;
  margin-top: -1.5rem;
  background: $pinkish;
  border-radius: 1rem;
  z-index: 1000;
}
