$pinkish: rgb(227, 27, 109);
$sky-blue: #62cbcf;
$nav-background: #1b242f;
$contact-background: #252934;
$contact-main: #1e242c;
$off-white: #f5f5f5;
$white: white;
$grey-heading: #878787;
$black: black;
$nav-load-time: 1s;
$element-load-time: 1.5s;
$animation-delay: 1s;

$font: "Raleway", sans-serif;
